.page-header{
    background-color: lightblue;
    margin: 10px;
    margin-left: 60px;
    margin-right: 80px;
    height: 150px;
    text-align: center;
    padding: 25px;


}
#myHeader{
    text-align: center;
    color: white;
}
p{
    color: white;
    text-align: center;
}

.zipCode{
    border: 2px solid black;
    float: left;
}
.p{
    background-color: lightgray;
    width: 550px;
    height: 550px;
    border: 2px solid green;
    text-align: center;
    
}

.map{
    height: 100px;
    width: 100px;
}

